.main {
    display: block;
}
.btn-neurona {
    margin-right: 1rem;
}
.input-frase {
    margin-bottom: 2rem !important;
}
.input-frase > input {
    padding: 6px;
}
.input-frase > button{
    margin-bottom: 4px;
}
.card {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.item-main {
    width: 12rem;
    max-width: 12rem;
}